<% provide(:title, 'ゲストユーザー') %>

<div class="container">
      
<h1>プロフィール</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-bordered" id="table-user">
      <tbody><tr>
        <th class="active col-md-3">ID</th>
        <td>3</td>
      </tr>
      <tr>
        <th class="active"><%= User.human_attribute_name :name %></th>
        <td>ゲストユーザー</td>
      </tr>
      <tr>
        <th class="active"><%= User.human_attribute_name :email %></th>
        <td>guest@email.com</td>
      </tr>
      <tr>
        <th class="active"><%= User.human_attribute_name :created_at %></th>
        <td>2019/09/01 23:21</td>
      </tr>
      </tbody>
     </table>
   </div>    
</div>
